@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Colors */
  --primary-color: #5e44ff;
  --primary-color-light: #9c71ff;
  --primary-color-light-extra: #c8c0ffd3;
  --primary-color-dark: #433196;
  --primary-color-darker: #261a5a;

  --secondary-color: #62d4b3;
  --secondary-color-light: #b3f5e6;
  --secondary-color-light-extra: #caf8e5;
  --secondary-color-dark: #49ad85;
  --secondary-color-dark: #2a5b48;

  --black-color: #313439;
  --black-color-light: #5f656e;
  --black-color-light-extra: #a5a5a5;
  --black-color-dark: #2f3337;
  --black-color-dark: #000000;

  /* Fonts */
  --primary-font: "Inter", serif;
  --title-font: "Space Grotesk", serif;
}
